@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --linen: #faf3eb;
  --light-linen: #fffefd;
  --ligh-linen2: #fefcfa;
  --purple: #8a7174;
  --accent-color: #34501c;
  --white: #ffffff;
  --dark: #555;
  font-family: "Tenor Sans", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
