@import url("https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #faf3eb;
  --secondary-bg-color: #fffefd;
  --header-bg-color: #515430;
  --accent-color: #b97456;
  --white: #ffffff;
  font-family: "Tenor Sans", sans-serif;
  scroll-behavior: smooth;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}
