.buttons__button--primary{
    background-color: var(--accent-color);
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    color: var(--light-linen);
    font-family: "Montserrat", sans-serif;
}

.buttons__button--secondary{
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
}