.header {
  background-color: var(--purple);
  min-height: 80px;
  padding: 0 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px 0 80px;
}

.header__logo {
  font-family: "Tenor Sans", sans-serif;
  font-size: 1.875rem;
  color: var(--white);
}

.header__link {
  font-family: "Montserrat", sans-serif;
  color: var(--linen);
  padding: 0 15px;
  white-space: nowrap;
  font-size: 1rem;
}
.header__link:hover {
  color: var(--white);
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 10px;
}

@media (max-width: 1024px) {
  .header_link {
    display: flex;
    gap: 3px;
    padding: 0 5px;
  }
  .header{
    padding: 0 30px;
  }
}

.header__socials {
  display: flex;
  flex-direction: row;
}
.socials__link {
  height: 40px;
  color: var(--linen);
  padding: 0 10px;
}

.header__navicon{
  display: block;
  width: 24px;
  height: 2px;
  position: relative;
  background: var(--linen);
  cursor:pointer;
  transition: background .2s ease-out;
}

.header__navicon:before 
.header__navicon:after{
  content: '';
  width: 100%;
  height: 100%;
  display:block;
  position: absolute;
  background: var(--linen);
  transition: all .2s ease-out;
}

.header__navicon:before{
  top: 7px;
}

.header__navicon:after{
  top: -7px;
}

.header.responsive .header__nav-menu{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 80px;
  left: o;
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  gap: 30px;
  z-index:1;
}

.header.responsive .header__navicon{
  background: transparent;
}

.header.responsive .header__navicon:before{
  transform: rotate(-45deg);
}
.header.responsive .header__navicon:after{
  transform: rotate(45deg);
}
.header.responsive .header__navicon:before,
.header.responsive .header__navicon:after{
  top: 0;
}